<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>SLO County Fire Incident Dashboard</title>
      <!--[if IE]><script src="{{ STATIC_URL }}js/json2.js"></script><![endif]-->
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> <!-- we need to host this in teh future -->
      <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet/dist/leaflet.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}js/microajax.minified.js"></script>
      <link href="{{ STATIC_URL }}js/leaflet/dist/leaflet.css" rel="stylesheet" />
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css"/>
      <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet" />
      <script type="text/javascript">
         $(document).ready(function () {
            dashboard.init();
         });
      </script>
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-26183543-2']);
         _gaq.push(['_trackPageview']);

         (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
   </head>
   <body>
      <div id="header">
         <img id="logo" src="{{ STATIC_URL}}img/slogo.png" alt="" />
         <h1 id="title">San Luis Obispo County Fire - Incident Dashboard</h1>
      </div>
      <div id="wrapper">
         <div id="main-panel">
            <div id="map"></div>
            <div id="incdnts"></div>
         </div>
      </div>
      <div id="footer">
         <a href="#" id="fullscreen">Fullscreen mode</a> - <a href="/feed/georss">GeoRSS Feed</a> - <strike>Autorefresh enabled</strike>
      </div>
      <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
   </body>
</html>
