<html>
    <head>
        <title>Stateful Array Grid Example</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="{{STATIC_URL}}extjs/bootstrap.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}viewer.js"></script>
        <script type="text/javascript">
            store.add(
            {% for incident in incidents %}
            { 
                id: "{{incident.name}}", 
                jrsdtn: "{{incident.jrsdtn}}",
                category: "{{incident.category}}",
                date: "2010-01-01 12:00" 
            } {% if not forloop.last %},{% endif %}
            {% endfor %});
        </script>
    </head>
    <body>
        <div id="grid-example"></div>
    </body>
</html>
