<html> 
   <head> 
      <title>CalFire Incident Mapper</title> 
      <script src="http://extjs.cachefly.net/ext-3.2.1/adapter/ext/ext-base.js"></script>
      <script src="http://extjs.cachefly.net/ext-3.2.1/ext-all.js"></script>
      <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css" /> 
      <script src="{{STATIC_URL}}js/openlayers/OpenLayers.js"></script>
      <script src="{{STATIC_URL}}js/geoext/script/GeoExt.js"></script>
      <script src="{{STATIC_URL}}js/cloudmade.js"></script>
      <script src="{{STATIC_URL}}js/viewer.js"></script>
   </head> 
   <body> 
      <div id="mainpanel"></div> 
   </body> 
</html> 
