body {
   padding-top: 70px;
   background-color: #e0e0e0;
}

#map {
   margin-bottom: 9px;
   height: 400px;
}

#list-well {
   overflow-x: auto;
}

.label-publicassist {
   background-color: #468847;
}

.label-lawenforcement {
   background-color: #333333;
}

.label-hazard {
   background-color: #f89406;
}

.label-medical {
   background-color: #3a87ad;
}

.label-fire {
   background-color: #b94a48;
}

/* overriding bootstrap */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
   background-color: #eee;
   cursor: pointer;
}
