body {
   padding-top: 60px;
}

@media (max-width: 979px) {
   body {
      padding-top: 0px;
   }
}

#map {
   margin-bottom: 9px;
   height: 400px;
}

#list-well {
   overflow-x: auto;
}

/* overriding bootstrap */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
   background-color: #eee;
   cursor: pointer;
}
