<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SLO County Fire: Incident Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/dashboard.css" />
  </head>
  <body>

    <!-- navbar -->

    <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">San Luis Obispo County Fire: Incident Dashboard</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <a class="btn btn-default btn-default navbar-btn" href="{% url incident-rss %}"><span class="glyphicon glyphicon-globe"></span>&nbsp;GeoRSS Feed</a>
        </ul>
      </div>
    </div>
    </nav>

    <!-- Modal -->
    <div id="inc-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="inc-modal-title"></h3>
          </div>
          <div class="modal-body">
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Property</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody id="inc-modal-body"></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="filter-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Filter incidents</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="incident-id" class="col-lg-3 control-label">Incident ID</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="incident-id" placeholder="Incident ID">
                </div>
              </div>
              <div id="filter-categories" class="form-group">
                <label class="col-lg-3 control-label">Categories</label>
                <div class="col-lg-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-category="Public Assist" checked>&nbsp;<span class="label label-publicassist">Public Assist</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-category="Law Enforcement" checked>&nbsp;<span class="label label-lawenforcement">Law Enforcement</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-category="Hazard" checked>&nbsp;<span class="label label-hazard">Hazard</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-category="Medical" checked>&nbsp;<span class="label label-medical">Medical</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-category="Fire" checked>&nbsp;<span class="label label-fire">Fire</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Date</label>
                <div class="col-lg-9">
                  <input placeholder="dd/mm/yyyy" id="filter-datepicker" class="form-control">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- body -->

    <div class="container">
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-12">
            <div id="map"></div>
          </div>
        </div>
      </div>

      <div class="well well-sm">
        <div class="row">
          <div class="col-md-4">
            <button id="filter-button" class="btn btn-small btn-default pull-left"><span class="glyphicon glyphicon-filter"></span>&nbsp;Filter</button>
          </div>
          <div class="col-md-4" style="text-align: center; vertical-align: middle; padding-top: 5px;">
            Page <span id="cur-page" class="badge">1</span> of <span id="last-page" class="badge">1</span>
          </div>
          <div class="col-md-4">
            <div class="btn-group pull-right">
              <button id="prev-button" class="btn btn-small btn-default disabled"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Newer</button>
              <button id="next-button" class="btn btn-small btn-default disabled">Older&nbsp;<span class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="well well-sm">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-hover" style="margin-bottom: 0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Incident ID</th>
                  <th>Jurisdiction</th>
                </tr>
              </thead>
              <tbody id="incident-list"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="{{ STATIC_URL }}/lib/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/lib/bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}/lib/dashboard.js"></script>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26183543-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
