<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ STATIC_URL }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ STATIC_URL }}/lib/leaflet/dist/leaflet.css" />
      <!--[if lte IE 8]><link rel="stylesheet" href="js/leaflet/dist/leaflet.ie.css" /><![endif]-->
      <style>
         body {
            padding-top: 60px;
         }
         @media (max-width: 979px) {
            body {
               padding-top: 0px;
            }
         }

         #map {
            margin-bottom: 9px;
            height: 400px;
         }

         #map-span {
            text-align: right; /* right justify the expand/shrink button */
         }

         #list-well {
            overflow-x: auto;
         }

         /* overriding bootstrap */
         .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #eee;
            cursor: pointer;
         }
      </style>
   </head>
   <body>

      <!-- navbar -->

      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="#">San Luis Obispo County Fire: Incident Dashboard</a>
               <ul class="nav pull-right">
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools&nbsp;<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="{% url incident-rss %}"><i class="icon-globe"></i>&nbsp;GeoRSS Feed</a></li>
                        <li><a id="autorefresh" href="#"><i class="icon-refresh"></i>&nbsp;<span>Autorefresh: On</span></a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>


      <!-- body -->

      <div class="container-fluid">
         <div id="first-row" class="row-fluid">
            <div id="incident-span" class="span7 ">
               <div id="list-well" class="well well-small">
                  <table class="table table-condensed table-hover">
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Time</th>
                           <th>Type</th>
                           <th>Incident ID</th>
                           <th>Jurisdiction</th>
                        </tr>
                     </thead>
                     <tbody id="incident-list"></tbody>
                  </table>
                  <p style="text-align: center;">
                     <button id="prev-button" class="btn btn-small disabled pull-left"><i class="icon-chevron-left"></i>&nbsp;Newer</button>
                     Page <span id="cur-page">1</span> of <span id="last-page"></span>
                     <button id="next-button" class="btn btn-small disabled pull-right">Older&nbsp;<i class="icon-chevron-right"></i></button>
                  </p>
               </div>
            </div> <!-- span 7 -->
            <div id="map-span" class="span5">
               <div class="well well-small">
                  <div id="map"></div>
                  <button id="map-expand" class="btn btn-small" type="button"><i class="icon-fullscreen"></i>&nbsp;<span>Expand</span></button>
               </div>
            </div>
         </div> <!-- row fluid -->
         <div id="second-row" class="row-fluid"></div>
      </div>

      <script src="{{ STATIC_URL }}/lib/leaflet/dist/leaflet.js"></script>
      <script src="{{ STATIC_URL }}/lib/jquery/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}/lib/bootstrap/js/bootstrap.js"></script>
      <script src="{{ STATIC_URL }}/js/dashboard.js"></script>

      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-26183543-2']);
         _gaq.push(['_trackPageview']);

         (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
       </script>
   </body>
</html>
